* {
    box-sizing: border-box;
}
header {
    background-image: url(Assets/lilyheader.jpg);
    background-color: #80CBC4;
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
}
body {
    background-color: #3f2860;
    color: #40407A;
    font-family: Verdana, Arial, sans-serif;
}
h1 {
    padding-top: 50px;
    padding-left: 2em;
}
nav {
    float: left;
    width: 160px;
    font-weight: bold;
    padding: 1em; 
}
nav ul {
    list-style: none;
    padding-left: 0em;
}
nav a {
    text-decoration: none;
    display: block;

}
nav a:link {
    color:#3f2860;
}
nav a:visited {
    color: #497777;
}
nav a:hover {
    color: #a26100;
    border: 3px inset #333333;
}
footer {
    background-color: #80CBC4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
.floatleft {
    margin-right: 4em;
    margin-bottom: 1em;
}
main {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    margin-left: 170px;
}
.studio {
    font-style: italic;
}
#wrapper {
    background-color: #f5f5f5;
    min-width: 1200px;
    max-width: 1480px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#hero {
    padding-top: 1em;
    padding-bottom: 1em;
}
.clear {
    clear: both;
}
#onehalf{
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}
#onethird {
    float: left;
    width: 33.33%;
    padding-left: 2em;
    padding-right: 2em;
}
header a:link {
    text-decoration: none;
    color: #40407A;
}
header a:visited {
    text-decoration: none;
    color:#40407A;
}
header a:hover {
    color: #FFFFFF;
}